/* novelai-clone/client/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  color: #333;
}